<%- include("partials/header.ejs", { title: "Node.js Boilerplate"})%>
    <!-- CONTEÚDO -->
    <div class="container" id="content">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">
                    Bem Vindo!
                </h1>
                <h5>
                    Este site é uma demo para você começar qualquer projeto que quiser.
                </h5>
            </div>            
        </div>
        <br>
    </div>
    <!-- FIM CONTEÚDO -->
<%- include("partials/footer.ejs")%>