<!-- FOOTER -->
<footer class="page-footer font-small bg-dark fixed-bottom">

    <div class="footer-copyright text-light text-center py-3">© 2020 Copyright:
        <a href="https://github.com/paulopatine/"> Paulo Henrique Mendes Vieira</a>
    </div>

</footer>
</body>
</html>
<!-- FIM FOOTER -->